*{
  margin: 1% 0 0 10%;
}

.label-search{
  font-size: large;
  font-weight: 500;
}

input{
  margin: 10px;
}

.addBasket { 
  color: #ffffff !important; 
  background-color: #313894 !important; 
  border-color: #292730; 
} 

.seeDetail{
  color: #ffffff !important; 
  background-color: #138542 !important; 
  border-color: #292730; 
}